# Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
#String variable creation

string='PWSKILL'
print(string)
type(string)

PWSKILL

str

In [2]:
#list variable creation
val=["10","20","30","40","50","60","70","80"]
print(val)
type(val)

['10', '20', '30', '40', '50', '60', '70', '80']

list

In [3]:
#Float variable creation

float_variable=20.03
print(float_variable)
type(float_variable)

20.03

float

In [4]:
#tuple variable creation


tuple = (1,"shashak",3,40.02,3+2j)
print(tuple)
print(type(tuple[0]),tuple[0])
print(type(tuple[1]),tuple[1])
print(type(tuple[2]),tuple[2])
print(type(tuple[3]),tuple[3])
print(type(tuple[4]),tuple[4])

(1, 'shashak', 3, 40.02, (3+2j))
<class 'int'> 1
<class 'str'> shashak
<class 'int'> 3
<class 'float'> 40.02
<class 'complex'> (3+2j)

# Q2. Given are some following variables containing data:

#### (i) var1 = ‘ ‘ ------> "String"

#### (ii) var2 = ‘[ DS , ML , Python]’------> 'string

#### (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] ---->'Float'

#### (iv) var4 = 1.---->'integer'

In [5]:
var2 = '[ DS , ML , Python]'
print(type(var2),var2)

var1 = ' '
print(type(var1),var1)

var3 = [ 'DS' , 'ML' , 'Python' ]
print(type(var3),var3)

var4 = 1
print(type(var4),var4)

<class 'str'> [ DS , ML , Python]
<class 'str'>
<class 'list'> ['DS', 'ML', 'Python']
<class 'int'> 1

# Q3. Explain the use of the following operators using an example:
#### (i) /
#### (ii) %
#### (iii) //
#### (iv) **

In [6]:
# i) / -->symbol used for divide operator.
# ii) % -->symbol used for Modulus operator(remainder of divisional).
# iii) // -->symbol used for division operator which exclude decimel.
# iv) ** -->symbol used for square. 


val1=10
val2=20

print(val2/val1)

print(val2%val1)

print(val2//val1)

print(val2**val1)

2.0
0
2
10240000000000

### Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [7]:
lst=["5",True,False,26.93,23,"value",'integer',3+2j,('PWSkill','for'),45," string"]
print(lst,end="\n")

['5', True, False, 26.93, 23, 'value', 'integer', (3+2j), ('PWSkill', 'for'), 45, ' string']

In [8]:
for i in range(0, 10):
    print(lst[i] , type(lst[i]), end=" \n ")
print()

5 <class 'str'>
 True <class 'bool'>
 False <class 'bool'>
 26.93 <class 'float'>
 23 <class 'int'>
 value <class 'str'>
 integer <class 'str'>
 (3+2j) <class 'complex'>
 ('PWSkill', 'for') <class 'tuple'>
 45 <class 'int'>

### Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [12]:
A=int(input("enter the number"))
B=int(input("enter the number"))
count=0
while A % B==0:
    count+=1 #count=count+1
    A=A//B # floor division
if count > 0:
    print("A is divisible by B",count, "times")
else:
    print("A is not divisible by B")

A is divisible by B 3 times

### Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [36]:
val_list=list([12,14,15,13,134,83,24,243,2,6,82,92,91,102,55,63,26,74,82,43,1234,853,979,98,67,721])

In [37]:
print(type(val_list))
for i in val_list:
    if i%3==0:
        print(i,"Is divisible by 3")
    else:
        print(i,"Is not divisible by 3")

<class 'list'>
12 Is divisible by 3
14 Is not divisible by 3
15 Is divisible by 3
13 Is not divisible by 3
134 Is not divisible by 3
83 Is not divisible by 3
24 Is divisible by 3
243 Is divisible by 3
2 Is not divisible by 3
6 Is divisible by 3
82 Is not divisible by 3
92 Is not divisible by 3
91 Is not divisible by 3
102 Is divisible by 3
55 Is not divisible by 3
63 Is divisible by 3
26 Is not divisible by 3
74 Is not divisible by 3
82 Is not divisible by 3
43 Is not divisible by 3
1234 Is not divisible by 3
853 Is not divisible by 3
979 Is not divisible by 3
98 Is not divisible by 3
67 Is not divisible by 3
721 Is not divisible by 3

### Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

#### Mutable data types----> (Object / variable) By changing the value of a variable without changing its identity. 
        Examples: List, Set,Dictionary.
#### Immutable data types----> Object / variable) By changing the value of a variable, it allows changing its identity. 
     --> Examples: Tuples, Int, Float, Bool, Frozenset.